.cs-container {
	display: flex;
	flex-direction: row;
	height: 85vh;
}

.cs-contacts-container {
	flex: 2;
}

.cs-chats-container {
	flex: 7;
	margin: 5px;
}

.cs-chats-container-inner {
	background-color: rgba(255, 251, 245, 0.991);
	/* border-color: #57595B; */
	/* border-width: 3px; */
	border-radius: 5px;
	height: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	/* align-items: end; */
}

.self-msg {
	align-self: flex-end;
}

.other-msg {
	align-self: flex-start;
}

.msg-author {
	font-size: small;
}

.contact {
	margin: 10px;
	background-color: #57595B;
	height: 70px;
	border-radius: 15px;
	padding: 10px 10px 0px 10px;
	font-size: large;
}

.contact:first-child {
	font-size: x-large;
	display: flex;
	justify-content: space-between;
}

/* .msgs {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	height: 100%;
} */

.msg {
	background-color: #57595B;
	border-radius: 10px;
	padding: 5px 10px 10px 10px;
}

.msg-container {
	margin: 10px 10px;
}

img:hover {
	cursor: pointer;
}

.nc-outer-container {
	position: fixed;
	inset:  0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.nc-inner-container {
	background-color: #57595B;
	border-radius: 5px;
	padding: 15px;
}

input {
	background-color: #F3E8DF;
	color: #57595B;
	border-radius: 5px;
	padding: 4px;
	width: 300px;
	margin-bottom: 10px;
}

input:focus {
	outline: none;
}

.button-container {
	display: flex;
	justify-content: center;
	background-color: #F3E8DF;
	border-radius: 5px;
	padding: 4px;
	margin: 15px 0px 0px 0px;
}

button {
	color: #57595B;
}

.msg-input-form {
	display: flex;
	justify-content: space-between;
}

.msg-input {
	background-color: rgba(255, 251, 245, 0.991);
	border-radius: 100px;
	border-color: #57595B;
	border-width: 3px;
	width: 95%;
	font-weight: bold;
	color: black;
	height: 50px;
	padding: 20px;
}

.send-button {
	margin: auto;
	width: 35px;
	height: 35px;
	margin-top: 7px;
}

.chat-alt {
	color: #57595B;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: rgba(255, 251, 245, 0.991);
	border-radius: 5px;
	font-size: larger;
}