.ls-container-outer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.ls-container-inner {
	background-color: #57595B;
	border-radius: 5px;
	padding: 15px;
}

input {
	background-color: #F3E8DF;
	color: #57595B;
	border-radius: 5px;
	padding: 4px;
	width: 300px;
	margin-bottom: 10px;
}

input:focus {
	outline: none;
}

.button-container {
	display: flex;
	justify-content: center;
	background-color: #F3E8DF;
	border-radius: 5px;
	padding: 4px;
	margin: 15px 0px 0px 0px;
}

button {
	color: #57595B;
}

.login-signup-toggle {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}